*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    max-width: 100vw;
    min-height: 100vh;
    background-color: #333232;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    height: min-content;
    background-color: #fff;
    padding: 28px;
    border-radius: 12px;   
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
}

.search-box input{
    width: 85%;
    font-size: 20px;
    padding: 12px 16px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(215, 238, 250);
    font-size: medium;
    color: #555454;
}

.search-box button{
    width: 48px;
    background-color: rgb(215, 238, 250);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.search-box button:hover{
    background-color: #6f6d6d;
    color: #fff;
}

.location-not-found{
    margin-top: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.location-not-found h3{
    color: #6f6d6d;
    margin-block-end: 20px;
}

.location-not-found img{
    width: 70%;
}

.weather-body{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}

.weather-img{
    width: 70%;
}

.weather-box{
    margin-block: 30px;
    text-align: center;
}

.temperature{
    font-size: x-large;
    font-weight: 600;
}

.description{
    font-size: 15px;
    text-transform: capitalize;
}

.temperature sup{
    font-size: medium;
    position: absolute;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.humidity, .wind{
    display: flex;
    align-items: center;
    gap: 10px;
}

.humidity{
    margin-left: 15px;
}

.wind{
    margin-right: 15px;
}

.weather-details i{
    font-size: 35px;
}

#humidity, #wind-speed{
    font-weight: 800;
}

